*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.contact
{
    width: 100%;
    height:60px;
    background-color: #282828;
    display: flex;
    color: white;
    justify-content:space-around;
    padding:20px;
  
}

.contact ul li{
    list-style: none;
}

.social i
{
    /* border: 2px solid blue; */
    display: inline-block;
    font-size: 30px;
    justify-content: space-around;
    color: white;
    border-radius: 50%;
    padding: 0 10px 0 10px;
    
}

.logo_search
{
    height:300px;
    width: 100%;
    background-image:url('images/header.jpg');
    background-position:center;
    font-family: 'Ephesis', cursive;
    
}

.logo
{
    border:7px solid red;
    height: 200px;
    width:500px;

    background-color:black; /* Fallback color */
    background-color: rgba(0,0,0, 0.8); /* Black w/opacity/see-through */
    color: white;
    font-size: 50px;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 15%; 
    left: 10%;
    text-align: center;
    padding-top: 5%;
}

.search input[type="text"]
{
    height:60px;
    width:350px;
    /* border:2px solid blue; */

    background-color:black; /* Fallback color */
    background-color: rgba(0,0,0, 0.6);  /*Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: 3px solid #f1f1f1;
    position: absolute;
    top:15%;
    left:60%;
}

.navbar
{
    /* border:4px solid green; */
    height:60px;
    width: 100%;
    background-color: #282828;
    display: flex;
    color: white;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    justify-content: space-around;
    
}

.video
{
    /* border:2px solid yellow; */
    display: flex;
    align-items: center;
   
}

.services
{
    /* border:2px solid black; */
    height:300px;
    width:100%;
    display: flex;
    justify-content: space-around;
    background-color: gainsboro;
}

.services img{
    height:100%;
    width:100%;
}

.services_text
{
    /* border: 2px solid greenyellow; */
    display: flex;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    text-align: center;
    
}

.services_text2, .services_text4
{
    padding: 2% 0 2% 0;
    height: 100%;
    width: 100%;
    background-color: lightgrey;
}

.services_text1, .services_text3
{
    padding: 2% 0 2% 0;
    height: 100%;
    width: 100%;
    background-color:#F0F0F0;
}

.our_projects
{
    /* border: 2px solid darkorange; */
    width: 100%;
    height:800px;
}

.pro_title
{
    border:2px solid black;
    margin: 2% auto;
    width: 70%;
    height:60px;
    background-color:#282828;
    color: white;
    text-align: center;
    padding-top:7px;
    
}

.projects{
    /* border:2px solid yellow; */
    width: 70%;
    height:500px;
    margin: auto;
    

}

.pro_data{
    /* border: 2px solid red;   */
    width: 100%;
    height:300px;
    padding:5px;
    text-align: center;
    display: flex;
    font-weight: bold;
    justify-content:space-between;
}

.pro_data img{
    width: 90%;
    height:250px;
    /* border:2px solid blueviolet; */
    justify-content: space-evenly;
    box-shadow: -9px 5px 10px 1px gray;
}

.project_2
{
    background-color: lightgrey;
    /* border:2px solid darkgoldenrod; */
    height:700px;
    width: 100%;
}

.select_pro
{
    border:2px solid darkseagreen;
    width: 70%;
    height:500px;
    margin: 0 auto;
    background-image:url('images/header.jpg');
}

.select_pro div
{
    display: inline-block;
    /* border:2px solid red; */
    justify-content: space-between;
    height: 70%;
    width: 30%;
    /* background-color: white; */
    background-color:black;
    background-color: rgba(0,0,0, 0.8); /*background with opacity*/
    color: white;
    /* padding: 45px; */
    border: 2px solid seashell;
    margin-top: -20px;
}



.health_text ul li{
    list-style: none;
    padding:8px;
    font-weight: bold;
}

.health_text h2{
    /* border: 2px solid olivedrab; */
    width: 100%;
    color: white;
    background-color: #282828;
    padding: 16px;
}

.text{

    background-color:black;
    background-color: rgba(0,0,0, 0.8); /*background with opacity*/
    color: white;
    padding: 45px;
    border: 2px solid seashell;
    margin-top: -20px;
}

.lead{
    border:2px solid chocolate;
    width: 100%;
    height:300px;
    background: linear-gradient(rgba(0,0,0,0.4),chocolate),url(images/project.jpg);
}

.lead_text
{
    /* border:2px solid fuchsia; */
    height:300px;
    width:50%;
    margin:auto;

    color: white;
    text-align: center;
    font-size: 44px;
    padding:80px;
}


.lead_text input[type="submit"]
{
    width: 250px;
    height:50px;
    border:none;
    font-size: 20px;
}

.footer_cont
{
    border:2px solid goldenrod;
    width:100%;
    height:400px;

    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    /* background-color: aquamarine; */
}

.footer_cont i{
    padding:10px;
    font-size: 24px;
}

.clearfix
{
    clear: both;
}



/* ----------------------------Media Query-------------------------------------- */

@media only screen and (max-width: 600px) 
{

   .contact
    {
        width: 100%;
        height:60px;
        background-color: #282828;
        display: flex;
        color: white;
        justify-content:space-around;
        padding:10px;

        flex-direction: column;
         margin:auto;
    }

    .logo_search
    {
        height:300px;
        width: 100%;
        background-image:url('images/header.jpg');
        background-position:center;
        font-family: 'Ephesis', cursive;
        
    }

    .logo
    {
        height: 70px;
        width:50%;
        background-color:black;
        background-color: rgba(0,0,0, 0.8);
        color: white;
        font-size: 30px;
        border: 3px solid #f1f1f1;
        position: absolute;
        text-align: center;
        padding-top: 5%;
    }

        
    .search input[type="text"]
    {
        height:60px;
        width:50%;
        background-color:black; 
        background-color: rgba(0,0,0, 0.6);  
        color: white;
        font-weight: bold;
        font-size: 18px;
        border: 3px solid #f1f1f1;
        position: absolute;
        top:5%;
        left:10%;
    }

       
    .navbar
    {
        
        height:30%;
        width: 100%;
        background-color: #282828;
        display: flex;
        flex-direction: column;
        color: white;
        text-align: center;
        font-size: 18px;
        margin:auto;
    }

    
    .video
    {
        display: flex;
        flex-direction: column;
        width: 100%;
        visibility: hidden;
    
    }

        
    .services
    {
        height:100px;
        width:100%;
        display: flex;
        flex-direction: column;
        /* justify-content: space-around; */
        background-color: gainsboro;
    }

    .services img{
        height:auto;    
        width:100%;

    }

    .services_text
    {
        /* border: 2px solid greenyellow; */
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        height: 100%;
        width: 100%;
        text-align: center;
        
    }

    .services_text2, .services_text4
    {
        padding: 2% 0 2% 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        background-color: lightgrey;
    }

    .services_text1, .services_text3
    {
        padding: 2% 0 2% 0;
        height: 100%;
        width: 100%;
        background-color:#F0F0F0;
        display: flex;
        flex-direction: column;
    }

        
    .our_projects
    {
        width: 100%;
        height:800px;
        text-align: center;
        margin:auto;
    }

    .pro_title
    {
        border:2px solid black;
        margin: 2% auto;
        width: 70%;
        height:60px;
        background-color:#282828;
        color: white;
        text-align: center;
        padding-top:7px;
        
    }

    .projects{
        /* border:2px solid yellow; */
        width: 100%;
        height:500px;
        margin: auto;
        display: flex;
        flex-direction: column;
        

    }

    .pro_data{
        /* border: 2px solid red;   */
        width: 100%;
        height:300px;
        padding:5px;
        text-align: center;
        font-weight: bold;
        display: flex;
        /* justify-content:space-between; */
         flex-direction: column;
    }

    .pro_data img{
        width: 90%;
        height:250px;
        /* border:2px solid blueviolet; */
        /* justify-content: space-evenly; */
        box-shadow: -9px 5px 10px 1px gray;
    }

    .project_2
    {
        background-color: lightgrey;
        
        height:300px;
        width: 100%;
        display: flex;
        flex-direction: column;
        /* text-align: center; */
    }

    .select_pro
    {
        /* border:2px solid darkseagreen; */
        width: 100%;
        height:300px;
        margin: auto;
        background-image:url('images/header.jpg');
    }

    .select_pro div
    {
        display: inline-block;
        justify-content: space-between;
        height: 150%;
        width: 100%;
        background-color:black;
        background-color: rgba(0,0,0, 0.8); /*background with opacity*/
        color: white;
        border: 2px solid seashell;
        margin-top: -20px;
    }

    .lead{
        /* border:2px solid chocolate; */
        width: 100%;
        height:400px;
        background: linear-gradient(rgba(0,0,0,0.4),chocolate),url(images/project.jpg);
        display: flex;
        flex-direction: column;
    }
    
    .lead_text
    {
        /* border:2px solid fuchsia; */
        height:300px;
        width:150%;
        margin:auto;
        color: white;
        /* text-align: center; */
        font-size: 44px;
        padding:80px;
    }
    
    
    .lead_text input[type="submit"]
    {
        width: 250px;
        height:50px;
        border:none;
        font-size: 20px;
        flex-direction: column;
        display: flex;
        text-align: center;
        padding: 10px;
    }
    
        
    .footer_cont
    {
        /* border:2px solid goldenrod; */
        width:100%;
        height:200px;
        margin:auto;
        padding: 20px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        text-align: center;
        /* background-color: aquamarine; */
    }

    .footer_cont i{
        padding:10px;
        font-size: 24px;
    }








    

}